#especialistas{
    background-color: var(--light-gray-bg);
    padding:  60px 0 60px 0;
    text-align: center;
}

.especialistas_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    max-width: 85vw;
}

.especialistas_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    padding: 0 0 10px 0; /* Padding superior zerado para a imagem encostar no topo redondo */
    overflow: hidden;    /* Essencial para que a imagem respeite as bordas redondas do card */
    background-color: #fff; /* Opcional: garante fundo branco atrás da transparência */
}

.foto-especialista {
    width: 50%;
    height: auto;
    display: block;

    margin-top: 1rem;

    border-radius: 48px 48px 0 0;

    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.especialistas_card:hover{
    outline: var(--purple-main) 1px solid;
}

@media (max-width: 954px) {
    .especialistas_wrap{
        flex-direction: column;
        flex-grow: 0;
    }
    .especialistas_card:hover{
        outline: none;
    }
}